<section>
  <div class="form-container">
    <h1>Registrarse</h1>
    <form [formGroup]="signUpForm">
      <mat-form-field class="field">
        <mat-label>Nombre</mat-label>
        <input
          formControlName="name"
          matInput
          placeholder="Ingresa tu nombre"
          value=""
        />
        <mat-error>{{signUpForm.get('name')?.errors | errorsFeedback}}</mat-error>
      </mat-form-field>
      <mat-form-field class="field">
        <mat-label>Apellido</mat-label>
        <input
          formControlName="lastName"
          matInput
          placeholder="Ingresa tus apellidos"
          value=""
        />
        <mat-error>{{signUpForm.get('lastName')?.errors | errorsFeedback}}</mat-error>
      </mat-form-field>
      <mat-form-field class="field">
        <mat-label>Correo electrónico</mat-label>
        <input
          formControlName="email"
          matInput
          placeholder="Ingresa tu correo electrónico"
          value=""
        />
        <mat-error>{{signUpForm.get('email')?.errors | errorsFeedback}}</mat-error>
      </mat-form-field>

      <mat-form-field class="field">
        <mat-label>Contraseña</mat-label>
        <input
          formControlName="password"
          matInput
          [type]="revealPassword ? 'text' : 'password'"
        />
        <button
          (click)="revealPassword = !revealPassword"
          matSuffix
          mat-icon-button
          type="button"
        >
          <mat-icon>visibility</mat-icon>
        </button>
        <mat-error>{{signUpForm.get('password')?.errors | errorsFeedback}}</mat-error>
      </mat-form-field>
      <button class="btn-submit" (click)="onSubmit()" mat-flat-button type="submit">
        Crear cuenta
      </button>
    </form>
    <div class="send-to-register-box">
      <p>Ya tienes una cuenta? <a href="/shop/auth">Inicia sesión</a></p>
    </div>
  </div>
  <div class="img-container">
    <figure>
      <img src="../../../../../assets/img/2-llamitas.jpg" alt="llamita" />
    </figure>
  </div>
</section>

