.modal-container {
  padding: 2rem;
  padding-bottom: 5rem;
  width: 42rem;
  height: 34rem;
  h1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.container-table-input {
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 0 1rem;
}

.category-table {
  max-height: 32rem;
  overflow-y: auto;
}

.category-table {
  height: 23rem;
  overflow: auto;
}

table {
  width: 100%;
}

.full-width {
  width: 100%;
}

.modal-container {
  button {
    margin-bottom: 1.25rem;
  }
}

.id-container {
  width: 1rem;
}

.name-container {
  width: 3.2rem;
}

.form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  button {
    width: 10rem;
  }
}

.btn-save-color {
  background-color: #e9806e;
  color: white;
}

.btn-cancel-color {
  background-color: #242423;
  color: white;
}
