.full-width {
  width: 100%;
}

.category-table {
  margin-top: 1rem;
  overflow: auto;
}

table {
  width: 100%;
}

.modal-container {
  padding: 1rem;
}

.modal-container {
  button {
    margin-bottom: 1.25rem;
  }
}

.btn-save-color {
  background-color: #e9806e;
  color: white;
}

.btn-clean-color {
  background-color: #242423;
  color: white;
}
