.shadow-table {
  box-shadow: 0.01rem 0.01rem 0.01rem rgba(199, 197, 197, 0.062);
}

.mdc-data-table__header-cell {
  text-align: center;
}

.mdc-data-table__cell  {
  text-align: center;
}

.w-size-id {
  width: 3.5rem;
}

.text-start {
  text-align: start;
}

.paginator-border {
  border-top: rgba(242, 242, 242, 0.052) 0.001rem solid;
}

button[mat-icon-button].disabled {
  .mat-icon {
    opacity: 0.45;
  }
}
