<h1 mat-dialog-title class="flex align-items-center justify-content-center py-3">
    DATOS DEL PRODUCTO
</h1>
<div mat-dialog-content>
    <form [formGroup]="productForm" class="grid formgrid">
        <div class="col-6 py-2">
            <mat-form-field class="w-full">
                <mat-label>Nombre</mat-label>
                <input formControlName="name" placeholder="Ingresar el nombre del producto" matInput type="text" />
            </mat-form-field>
        </div>
        <div class="col-3 py-2">
            <mat-form-field class="w-full">
                <mat-label>Price</mat-label>
                <input formControlName="price" placeholder="Ingresar el precio" matInput type="number" />
            </mat-form-field>
        </div>
        <div class="col-3 py-2">
            <mat-form-field class="w-full">
                <mat-label>Stock</mat-label>
                <input formControlName="stock" placeholder="Ingresar el stock" matInput type="number" />
            </mat-form-field>
        </div>
        <div class="col-3 py-2">
            <mat-form-field class="w-full">
                <mat-label>Categoría</mat-label>
                <mat-select formControlName="category_name">
                    <mat-option value="true">True</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-3 py-2">
            <mat-form-field class="w-full">
                <mat-label>Región</mat-label>
                <mat-select formControlName="region_name">
                    <mat-option value="true">True</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-4 py-2">
            <mat-form-field class="w-full">
                <mat-label>Artesano</mat-label>
                    <mat-option value="true">True</mat-option>
                <!-- <mat-select formControlName="localCraftsman_fullname" required>
                    <mat-option *ngFor="let product of products" [value]="product.name">
                        {{ product.name }}
                    </mat-option>
                </mat-select> -->
            </mat-form-field>
        </div>
        <div class="col-2 py-2">
            <mat-form-field class="w-full">
                <mat-label>Enable</mat-label>
                <mat-select formControlName="enable">
                    <mat-option value="true">True</mat-option>
                    <mat-option value="false">False</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-6 py-2">
            <mat-form-field class="w-full">
                <mat-label>Detalles</mat-label>
                <textarea formControlName="details" matInput type="text"
                    placeholder="Write the details here..."></textarea>
            </mat-form-field>
        </div>
        <div class="col-6 py-2">
            <mat-form-field class="w-full">
                <mat-label>Historia</mat-label>
                <textarea formControlName="history" matInput type="text"
                    placeholder="Write the history here..."></textarea>
            </mat-form-field>
        </div>
    </form>
</div>

<div mat-dialog-actions class="flex justify-content-center gap-4 mat-dialog-actions-design">
    <button (click)="onSubmit()" mat-raised-button color="primary" type="submit" class="col-2">
        Save
    </button>
    <button [mat-dialog-close]="false" mat-raised-button color="warn" type="button" class="col-2">
        Cancel
    </button>
</div>