<div class="modal-container">
  <h1
    mat-dialog-title
    class="flex align-items-center justify-content-center py-3"
  >
    DATOS DEL PRODUCTO
  </h1>
  <div mat-dialog-content>
    <form [formGroup]="productForm" class="grid formgrid" enctype="multipart/form-data">
      <div class="col-6 py-2">
        <mat-form-field class="w-full">
          <mat-label>Nombre</mat-label>
          <input
            formControlName="name"
            placeholder="Ingrese el nombre del producto"
            matInput
            type="text"
          />
        </mat-form-field>
      </div>
      <div class="col-3 py-2">
        <mat-form-field class="w-full">
          <mat-label>Precio</mat-label>
          <input
            formControlName="price"
            placeholder="Ingrese el precio"
            matInput
            type="number"
          />
        </mat-form-field>
      </div>
      <div class="col-3 py-2">
        <mat-form-field class="w-full">
          <mat-label>Stock</mat-label>
          <input
            formControlName="stock"
            placeholder="Ingrese el stock"
            matInput
            type="number"
          />
        </mat-form-field>
      </div>
      <div class="col-3 py-2">
        <mat-form-field class="w-full">
          <mat-label>Categoría</mat-label>
          <mat-select
            formControlName="name_category"
            placeholder="Seleccione la categoría"
          >
            <mat-option
              *ngFor="let category of categories"
              [value]="category.id"
            >
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3 py-2">
        <mat-form-field class="w-full">
          <mat-label>Región</mat-label>
          <mat-select
            formControlName="name_region"
            placeholder="Seleccione la región"
          >
            <mat-option *ngFor="let region of regions" [value]="region.id">
              {{ region.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-4 py-2">
        <mat-form-field class="w-full">
          <mat-label>Artesano</mat-label>
          <mat-select
            formControlName="fullname_localCraftsman"
            placeholder="Seleccione el artesano"
          >
            <mat-option
              *ngFor="let localCraftsman of localCraftsmen"
              [value]="localCraftsman.id"
            >
              {{ localCraftsman.fullName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-2 py-2">
        <mat-form-field class="w-full">
          <mat-label>Habilitado</mat-label>
          <mat-select formControlName="enabled" placeholder="Estado">
            <mat-option value="true">True</mat-option>
            <mat-option value="false">False</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6 py-2">
        <div class="w-full file-container">
          <div class="input-file-container">
            <div class="col-4">
              <button class="upload-button" type="button" (click)="fileInput.click()">Seleccionar imagen</button>
            </div>
            <div class="col-8">
              <input #fileInput type="file" accept=".png, .jpg, .jpeg" (change)="onFileSelected($event)" style="display: none" />
              <div class="file-name-container">
                <span class="file-name" id="file-name">{{ getFileName() }}</span>
              </div>
            </div>
          </div>
          <div class="col-12 w-full">
            <div *ngIf="imageUrl" class="image-preview">
              <img [src]="imageUrl" alt="Imagen del producto" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 px-0">
        <div class="col-12 py-2 w-full">
          <mat-form-field class="w-full">
            <mat-label>Detalles</mat-label>
            <textarea
              formControlName="details"
              matInput
              placeholder="Ingrese los detalles del producto"
              class="details-container"
            ></textarea>
          </mat-form-field>
        </div>
        <div class="col-12 py-2 w-full">
          <mat-form-field class="w-full">
            <mat-label>Historia</mat-label>
            <textarea
              formControlName="history"
              matInput
              placeholder="Ingrese la historia del producto"
              class="history-container"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div mat-dialog-actions class="flex justify-content-center gap-2">
    <button
      (click)="onCreate()"
      mat-raised-button
      class="col-2 btn-save-color"
    >
      Guardar
    </button>
    <button
      (click)="onCancel()"
      [mat-dialog-close]="false"
      mat-raised-button
      class="col-2 btn-cancel-color"
    >
      Cancelar
    </button>
  </div>
</div>
