<div class="position-image">
  <img
    mat-card-image
    class="width-image"
    src="../../../../../../assets/img/hecho-en-peru-logo.png"
    alt="Logo de Hecho en Perú"
  />
</div>
<mat-nav-list>
  <mat-list-item routerLink="home" routerLinkActive="active-link">
    <i class="fa-solid fa-house px-2"></i>
    <a>Inicio</a>
  </mat-list-item>
  <mat-list-item routerLink="products" routerLinkActive="active-link">
    <i class="fa-solid fa-box px-2"></i>
    <a>Productos</a>
  </mat-list-item>
  <mat-list-item routerLink="customers" routerLinkActive="active-link">
    <i class="fa-solid fa-user px-2"></i>
    <a>Clientes</a>
  </mat-list-item>
  <mat-list-item routerLink="local-craftsmen" routerLinkActive="active-link">
    <i class="fa-solid fa-hands-holding-circle px-2"></i>
    <a>Artesanos</a>
  </mat-list-item>
  <mat-list-item routerLink="regions" routerLinkActive="active-link">
    <i class="fa-solid fa-mountain-sun px-2"></i>
    <a>Regiones</a>
  </mat-list-item>
</mat-nav-list>
