<div class="div-add-container formgrid grid">
  <div class="col-12 centered-header">
    <span>RESUMEN ADMINISTRATIVO EN GRÁFICOS DE LA PLATAFORMA</span>
  </div>
  <div class="formgrid grid container-total">
    <div class="col-4 graphic-container">
      <span>PRODUCTOS POR VALORACIÓN</span>
      <canvas id="productsByRatingChart"></canvas>
    </div>
    <div class="col-5 graphic-container">
      <span>PRODUCTOS VENDIDOS POR CATEGORÍA</span>
      <canvas id="productsByCategoryChart"></canvas>
    </div>
    <div class="col-3 graphic-container">
      <span>COMENTARIOS POR REGIÓN</span>
      <canvas id="commentsByRegionChart"></canvas>
    </div>
    <div class="col-12 graphic-container region-products-container">
      <span>PRODUCTOS VENDIDOS POR REGIÓN</span>
      <canvas class="col-12" id="productsByRegionChart"></canvas>
    </div>
  </div>
</div>
