<div class="cart-container">
  <div class="cart-header">
    <h2>Mi carrito</h2>
    <button mat-icon-button type="button" (click)="onCloseCart()"><mat-icon>close</mat-icon></button>
  </div>
  <div class="cart-items-container">
    <div class="cart-item">
      <figure><img src="../../../../../assets/img/catalog/poncho-lana-main.jpg" /></figure>
      <div class="product-info">
        <p>Product name</p>
        <p>S/. price</p>
      </div>
      <div class="product-quantity">
        <button mat-icon-button>
          <mat-icon>remove</mat-icon>
        </button>
        <mat-form-field>
          <input matInput
            type="number"
            value="1"
          />
        </mat-form-field>
        <button mat-icon-button>
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="product-subtotal">
        <p>S/. subtotal</p>
      </div>
      <div class="product-remove">
        <button mat-icon-button type="button">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="cart-total">
    <p>Total</p>
    <p id="cart-total-price">S/. 1000.00</p>
  </div>
  <div class="cart-button">
    <button mat-flat-button>Comprar ahora</button>
  </div>
</div>
