<mat-toolbar style="display: flex; justify-content: space-between;" color="primary">
    <div style="display: flex; justify-items: center;">
        <div style="padding-top: 0.85rem">
            <button (click)="toggleSidebar.emit()" mat-icon-button class="example-icon"
                aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <img style="padding-left: 0.938rem" src="../../../../../../favicon.ico" alt="Logo de Hecho en Peru" />
        <span class="style-logo">Hecho en Perú</span>
    </div>
    <div style="display: flex; justify-items: center;">
        <div class="style-name-admin">
            <span>Jean Carlos Achamizo</span>
            <i class="fa-regular fa-user" style="padding-left: 0.5rem"></i>
        </div>
        <div style="padding-left: 1.875rem">
            <button mat-flat-button type="submit" style="background-color: #F9C846;">Cerrar sesión</button>
        </div>
    </div>
</mat-toolbar>
