<nav>
  <div class="logo">
    <a routerLink="home">
      <img
        src="../../../../../assets/img/logo-navbar.png"
        alt="Logo de Hecho en Perú"/>
    </a>
  </div>

  <mat-nav-list class="menu-list-items">
    <div class="menu-list-item">
      <a
        #homeLink="routerLinkActive"
        routerLinkActive
        [ngClass]="homeLink.isActive ? 'active' : ''"
        routerLink="home"
        mat-list-item
      >
        <span>Inicio</span>
      </a>
    </div>
    <div class="menu-list-item">
      <a
        #catalogLink="routerLinkActive"
        routerLinkActive
        [ngClass]="catalogLink.isActive ? 'active' : ''"
        routerLink="catalog"
        mat-list-item
      >
        <span>Catálogo</span>
      </a>
    </div>
    <div class="menu-list-item">
      <a
        #regionsLink="routerLinkActive"
        routerLinkActive
        [ngClass]="regionsLink.isActive ? 'active' : ''"
        routerLink="regions"
        mat-list-item
      >
        <span>Regiones</span>
      </a>
    </div>
    <div class="menu-list-item">
      <a
        #aboutUsLink="routerLinkActive"
        routerLinkActive
        [ngClass]="aboutUsLink.isActive ? 'active' : ''"
        routerLink="about-us"
        mat-list-item
      >
        <span>Quiénes somos</span>
      </a>
    </div>
  </mat-nav-list>
  <div class="search-bar">
    <form [formGroup]="categorySearchForm" class="category-form-search">
      <mat-form-field class="field" appearance="outline">
        <input
          formControlName="category"
          matInput
          placeholder="Ingresa tu categoría aquí"
          value=""
        />
      </mat-form-field>
      <button (click)="onCreate()" mat-flat-button type="submit">Buscar</button>
    </form>
  </div>
  <div class="nav-icons">
    <div>
      <button mat-icon-button type="button">
        <mat-icon>shopping_cart_add</mat-icon>
      </button>
    </div>
    <div>
      <button mat-icon-button type="button">
        <mat-icon>person</mat-icon>
      </button>
    </div>
  </div>
</nav>
