<div class="div-add-container" *ngIf="regionSelected">
  <span>REGIÓN {{ regionSelected.name | uppercase }}</span>
  <div class="container-text">
    <p>
      <b>Historia: </b>
      {{ regionSelected.history }}
    </p>
  </div>
  <div class="container-text">
    <p>
      <b>Introducción de sitios turísticos: </b>
      {{ regionSelected.sitesIntroduction }}
    </p>
  </div>
  <div class="container-text">
    <p>
      <b>Introducción de artesanos: </b>
      {{ regionSelected.craftsmenIntroduction }}
    </p>
  </div>
  <div
    class="div-table-container grid formgrid flex justify-content-center align-items-top"
  >
    <div class="col-3 py-4">
      <button
        (click)="onCreateTouristSite()"
        mat-flat-button
        class="w-full btn-add-site"
      >
        <mat-icon>add</mat-icon> Añadir lugar turístico
      </button>
    </div>
    <div class="col-1 py-4"></div>
    <div class="col-4 centered-header py-4">
      <span>LUGARES TURÍSTICOS</span>
    </div>
    <div class="col-4"></div>
    <app-tourist-site-table
      class="w-full"
      [dataSource]="dataSource"
      (editTouristSite)="onEditTouristSite($event)"
      (deleteTouristSite)="onDeleteTouristSite($event)"
    ></app-tourist-site-table>
  </div>
</div>
