.modal-container {
    padding: 1rem;
}

.modal-container {
    button {
        margin-bottom: 1.25rem;
    }
}

.btn-save-color {
    background-color: #E9806E;
    color: white;
}

.btn-clean-color {
    background-color: #242423;
    color: white;
}
