<div class="modal-container">
  <h1
    mat-dialog-title
    class="flex align-items-center justify-content-center py-3"
  >
    DATOS DEL ARTESANO
  </h1>
  <div mat-dialog-content>
    <form [formGroup]="localCraftsmanForm" class="grid formgrid w-full" enctype="multipart/form-data">
      <div class="col-5 py-2">
        <mat-form-field class="w-full">
          <mat-label>Nombre completo</mat-label>
          <input
            formControlName="fullName"
            placeholder="Ingrese el nombre completo del artesano"
            matInput
            type="text"
          />
        </mat-form-field>
      </div>
      <div class="col-7 py-2">
        <div class="w-full file-container">
          <div class="input-file-container">
            <div class="col-4">
              <button
                class="upload-button"
                type="button"
                (click)="fileInput.click()"
              >
                Seleccionar imagen
              </button>
            </div>
            <div class="col-8">
              <input
                #fileInput
                type="file"
                accept=".png, .jpg, .jpeg"
                (change)="onFileSelected($event)"
                style="display: none"
              />
              <div class="file-name-container">
                <span class="file-name" id="file-name">{{
                  getFileName()
                }}</span>
              </div>
            </div>
          </div>
          <div class="col-12 w-full">
            <div *ngIf="imageUrl" class="image-preview">
              <img [src]="imageUrl" alt="Imagen del producto" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-5 px-0">
        <div class="col-12 py-1 w-full">
          <mat-form-field class="w-full">
            <mat-label>Especialidad</mat-label>
            <input
              formControlName="specialty"
              placeholder="Ingrese la especialidad"
              matInput
              type="text"
            />
          </mat-form-field>
        </div>
        <div class="col-12 py-3 w-full">
          <mat-form-field class="w-full">
            <mat-label>Región</mat-label>
            <mat-select
              formControlName="region_id"
              placeholder="Seleccione la región"
            >
              <mat-option *ngFor="let region of regions" [value]="region.id">
                {{ region.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 py-1 w-full">
          <mat-form-field class="w-full">
            <mat-label>Experiencia</mat-label>
            <input
              formControlName="experience"
              placeholder="Ingrese la experiencia"
              matInput
              type="text"
            />
          </mat-form-field>
        </div>
        <div class="col-12 py-3 w-full">
          <mat-form-field class="w-full">
            <mat-label>Descripción</mat-label>
            <textarea
              formControlName="description"
              placeholder="Ingrese la descripción del artesano"
              matInput
              type="text"
              class="description-container"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div mat-dialog-actions class="flex justify-content-center gap-2">
    <button
      (click)="onSave()"
      mat-raised-button
      type="submit"
      class="col-2 btn-save-color"
    >
      Guardar
    </button>
    <button
      (click)="onCancel()"
      [mat-dialog-close]="false"
      mat-raised-button
      type="button"
      class="col-2 btn-cancel-color"
    >
      Cancelar
    </button>
  </div>
</div>
