<div class="modal-container">
  <h1
    mat-dialog-title
    class="flex align-items-center justify-content-center py-3"
  >
    DATOS DEL ARTESANO
  </h1>
  <div mat-dialog-content>
    <form [formGroup]="localCraftsmanForm" class="grid formgrid">
      <div class="col-6 py-2">
        <mat-form-field class="w-full">
          <mat-label>Nombre completo</mat-label>
          <input
            formControlName="fullName"
            placeholder="Ingrese el nombre completo del artesano"
            matInput
            type="text"
          />
        </mat-form-field>
      </div>
      <div class="col-6 py-2">
        <mat-form-field class="w-full">
          <mat-label>Especialidad</mat-label>
          <input
            formControlName="specialty"
            placeholder="Ingrese la especialidad"
            matInput
            type="text"
          />
        </mat-form-field>
      </div>
      <div class="col-6 py-2">
        <mat-form-field class="w-full">
          <mat-label>Experiencia</mat-label>
          <input
            formControlName="experience"
            placeholder="Ingrese la experiencia"
            matInput
            type="text"
          />
        </mat-form-field>
      </div>
      <div class="col-4 py-2">
        <mat-form-field class="w-full">
          <mat-label>Región</mat-label>
          <mat-select
            formControlName="name_region"
            placeholder="Seleccione la región"
          >
            <mat-option value="true">True</mat-option>
            <mat-option value="false">False</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-2 py-2">
        <mat-form-field class="w-full">
          <mat-label>Habilitado</mat-label>
          <mat-select formControlName="enabled" placeholder="Estado">
            <mat-option value="true">True</mat-option>
            <mat-option value="false">False</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 py-2">
        <div class="w-full file-container">
          <label>Imagen</label>
          <div class="input-file-container">
            <button class="upload-button">Seleccionar imagen</button>
            <input
              type="file"
              accept=".png, .jpg, .jpeg"
              (change)="onFileSelected($event)"
            />
            <span class="file-name" id="file-name">Ninguna imagen seleccionada</span>
          </div>
        </div>
      </div>   
      <div class="col-12 py-2">
        <mat-form-field class="w-full">
          <mat-label>Descripción</mat-label>
          <textarea
            formControlName="description"
            placeholder="Ingrese la descripción del artesano"
            matInput
            type="text"
            class="description-container"
          ></textarea>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div mat-dialog-actions class="flex justify-content-center gap-2">
    <button
      (click)="onCreate()"
      mat-raised-button
      type="submit"
      class="col-2 btn-save-color"
    >
      Confirmar
    </button>
    <button
      (click)="onClearInputs()"
      [mat-dialog-close]="false"
      mat-raised-button
      type="button"
      class="col-2 btn-clean-color"
    >
      Limpiar
    </button>
  </div>
</div>
