<div class="hero-section-container">
    <div class="hero-section-shadow">
      <div class="hero-section-content">
        <h1>Regiones</h1>
        <p>
            Descubre la diversidad ultural a través de nuestras artesanías por regiones. Explora las diferentes tradiciones y técnicas artesanales que se encuentran en cada rincón del mundo. Desde las coloridas artesanías latinoamericanas hasta las elegantes creaciones asiáticas, cada región tiene su propio estilo distintivo. Déjate inspirar por la riqueza cultural y el ingenio de nuestros artesanos de todo el mundo.
        </p>
      </div>
    </div>
</div>
  
<section class="services-container">
    <div class="cards-container">
      <div class="card">
        <img class="img-fluid" src="../../../../../assets/img/banner-regiones.jpg" alt="Fotografía de la región Amazonas">
        <button mat-flat-button>Áncash</button>
      </div>
      <div class="card">
        <img class="img-fluid" src="../../../../../assets/img/banner-regiones.jpg" alt="Fotografía de la región Amazonas">
        <button mat-flat-button>Áncash</button>
      </div>
      <div class="card">
        <img class="img-fluid" src="../../../../../assets/img/banner-regiones.jpg">
        <button mat-flat-button>Áncash</button>
      </div>
    </div>
  </section>
