<mat-tab-group #tabGroup class="w-full pt-2">
  <mat-tab>
    <div class="table-container shadow-table">
      <table
        mat-table
        [dataSource]="_dataSource"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="w-size">ID</th>
          <td mat-cell *matCellDef="let customer">
            {{ customer.id }}
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let customer">
            {{ customer.name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef>Apellido</th>
          <td mat-cell *matCellDef="let customer">
            {{ customer.lastName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let customer">
            {{ customer.email }}
          </td>
        </ng-container>
        <ng-container matColumnDef="name_role">
          <th mat-header-cell *matHeaderCellDef>Rol</th>
          <td mat-cell *matCellDef="let customer">
            {{ customer.roles[0].nameRole }}
          </td>
        </ng-container>
        <ng-container matColumnDef="dateCreated">
          <th mat-header-cell *matHeaderCellDef>Fecha de creación</th>
          <td mat-cell *matCellDef="let customer">
            {{ customer.dateCreated | date : "short" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="enabled">
          <th mat-header-cell *matHeaderCellDef>Habilitado</th>
          <td mat-cell *matCellDef="let customer">
            {{ customer.enabled }}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let customer">
            <button
              (click)="onViewOrderDetails(customer.id)"
              mat-icon-button
              color="primary">
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div class="paginator-border">
        <mat-paginator
          [pageSizeOptions]="[7, 14, 21]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
