.style-footer {
  background-color: #242423;
  color: white;
  position: sticky;
  bottom: 0;
  padding: 0.438rem;
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
