<section class="product-container">
  <div class="product-img">
    <figure>
      <img
        src="http://localhost:8080/api/uploadsLoadImage/{{
          productSelected?.image
        }}"
        class="product-img"
      />
    </figure>
  </div>
  <div class="product-description">
    <div class="rating-comments">
      <div class="rating">
        <p-rating [(ngModel)]="avgRating" [readonly]="true" [cancel]="false" />
        <p class="rating-value">
          {{ productSelected?.averageRating | number : "1.1-1" }}
        </p>
      </div>
      <p class="number-comments">{{ comments.length }} comentarios</p>
    </div>
    <h2 class="product-title">{{ productSelected?.name }}</h2>
    <h2 class="precio-product">
      s/.{{ productSelected?.price | number : "1.2-2" }}
    </h2>

    <div class="quantity-box">
      <h4>Número de unidades</h4>
      <div class="quantity-form">
        <button
          mat-icon-button
          type="button"
          (click)="updateQuantityProduct(-1)"
        >
          <mat-icon>remove</mat-icon>
        </button>
        <mat-form-field class="product-quantity">
          <input
            matInput
            [(ngModel)]="inputProductQuantity"
            (change)="onChangeInputProductQuantity()"
            type="number"
            value="1"
            min="1"
          />
        </mat-form-field>
        <button
          mat-icon-button
          type="button"
          (click)="updateQuantityProduct(1)"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <div class="stock">
      <h4>Stock:</h4>
      <span>{{ productSelected?.stock }} unidades</span>
    </div>
    <button
      mat-flat-button
      class="btn-add-cart"
      type="button"
      (click)="onAddProduct(productSelected)"
    >
      <span>Agregar al carrito</span><i class="fa-solid fa-cart-shopping"></i>
    </button>
  </div>
</section>

<section class="more-info-product">
  <figure>
    <img
      src="http://localhost:8080/api/uploadsLoadImage/{{
        productSelected?.localCraftsman?.image
      }}"
    />
  </figure>
  <div class="info-crafstman">
    <h3>Información del artesano</h3>
    <p><b>Artesano:</b> {{ productSelected?.localCraftsman?.fullName }}</p>
    <p>
      <b>Ubicación:</b> {{ productSelected?.localCraftsman?.region?.name }},
      Perú
    </p>
    <p><b>Especialidad:</b> {{ productSelected?.localCraftsman?.specialty }}</p>
    <p><b>Experiencia:</b> {{ productSelected?.localCraftsman?.experience }}</p>
    <p><b>Historia:</b> {{ productSelected?.localCraftsman?.description }}</p>
  </div>
  <div class="history-product">
    <h3>Historia del producto</h3>
    <p>
      {{ productSelected?.history }}
    </p>
    <div class="region">
      <span>Región:</span
      ><label class="region-name" for="cusco">{{
        productSelected?.localCraftsman?.region?.name
      }}</label
      ><button
        mat-flat-button
        class="btn-region"
        (click)="redirectTo('regions/' + productSelected?.localCraftsman?.region?.id)"
      >
        Conocer más
      </button>
    </div>
  </div>
  <div class="product-details">
    <h3>Detalles del producto</h3>
    <p>{{ productSelected?.details }}</p>
  </div>
</section>

<section class="container-best-sellers">
  <h2>PRODUCTOS QUE PODRÍAN INTERESARTE</h2>
  <div class="container-carousel">
    <button class="btn-carusel" mat-icon-button (click)="previousBestSellersPage()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <ul class="carousel">
      
      <li class="carousel-product" *ngFor="let product of bestSellers">
        <figure (click)="redirectTo('catalog/' + product.id)">
          <img
            src="http://localhost:8080/api/uploadsLoadImage/{{product.image}}"
            alt="{{product.name}}"
          />
        </figure>
        <div class="rating">
          <i class="fa-solid fa-star"></i>
          <span class="rating-value">{{
            product.averageRating | number : "1.1-1"
          }}</span>
        </div>
        <div class="info-product">
          <h3>{{product.name}}</h3>
          <p>s/.{{product.price | number: '1.2-2'}}</p>
        </div>
        <button mat-flat-button class="add-cart" type="button" (click)="onAddProduct(product)">Añadir al carrito</button>
      </li>
    </ul>
    <button class="btn-carusel" mat-icon-button (click)="nextBestSellersPage()">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
</section>

<section class="comments-section">
  <div class="comments-section-header">
    <h2>Comentarios</h2>
    <p>{{ length }} comentarios</p>
  </div>
  <div class="new-comment">
    <div class="user-information">
      <i class="fa-solid fa-user"></i>
      <h4>{{ authUser$ | async | fullNameUserLogin }}</h4>
    </div>
    <form [formGroup]="commentForm" class="comment-form">
      <mat-form-field>
        <textarea
          formControlName="textCommentary"
          matInput
          type="text"
          placeholder="Agrega un comentario..."
        ></textarea>
        <mat-error>{{commentForm.get('textCommentary')?.errors | errorsFeedback}}</mat-error>
      </mat-form-field>
      <div class="rating-field">
        <p-rating formControlName="rating" (ngModelChange)="onChangeRating()" [cancel]="false" />
        <p *ngIf="requiredRating" id="required-rating">La valoración es requerida.</p>
      </div>
      <div class="btn-comment">
        <button mat-flat-button type="submit" (click)="onSubmit()">
          Comentar
        </button>
      </div>
    </form>
  </div>
  <div class="comments-list-container">
    <div class="comment" *ngFor="let comment of comments">
      <div class="comment-user">
        <i class="fa-solid fa-user"></i>
        <h4>{{ comment.user.name + " " + comment.user.lastName }}</h4>
      </div>
      <p-rating
        [(ngModel)]="comment.rating"
        [readonly]="true"
        [cancel]="false"
      />
      <div class="comment-text">{{ comment.textCommentary }}</div>
    </div>
    <mat-paginator
      *ngIf="comments.length"
      (page)="handlePageEvent($event)"
      [length]="length"
      [pageSize]="pageSize"
      hidePageSize="true"
      [pageIndex]="pageIndex"
      aria-label="Select page"
    >
    </mat-paginator>
    <p *ngIf="!comments.length" class="no-comments">
      Aún no hay comentarios. ¡Sé el primero en comentar!
    </p>
  </div>
</section>
