.div-add-product {
  margin: 0.5rem;
  padding: 2rem;
  background-color: #F5F5F5;
}

.style-title {
  font-size: 1.125rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  .product-form-search {
    display: flex;
    justify-content: space-between;
  }
}

.style-button {
  background-color: #E09898;
  color: white;
  padding: 1.75rem;
}
