<mat-drawer-container class="container" autosize>
  <mat-drawer
    [opened]="showSidebar"
    #drawer
    class="example-sidenav"
    mode="side"
    position="start"
  >
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <div class="sidenav-content">
    <app-toolbar (toggleSidebar)="showSidebar = !showSidebar"></app-toolbar>
    <main class="content-pages">
      <div class="loading-overlay" *ngIf="isLoading">
        <div class="loading-indicator"></div>
      </div>
      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
  </div>
</mat-drawer-container>
