.mat-drawer-container {
  height: 100vh;
}

mat-drawer {
  width: 11.25rem;
  background-color: #f5f5f5;
  text-align: start;
}

main {
  padding: 1rem;
}

.sidenav-content{
  height: 100%;
}

.content-pages {
  height: calc(100% - 9rem);
  overflow-y: scroll;
}