h2,
h3 {
  font-weight: 500;
}

.hero-section-container {
  background-image: url("../../../../../assets/img/hero-section/inicio-fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  .hero-section-shadow {
    background-color: #000000c2;
  }
  .hero-section-content {
    padding: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    margin-bottom: 1.5rem;
    h1 {
      font-size: 3rem;
      font-weight: 300;
    }
    p {
      line-height: 2;
    }
    button {
      background-color: #e9806e;
      color: #fff;
      padding: 1.5rem 2rem;
      &:hover {
        background-color: #e46953;
      }
    }
  }
}

.container-best-sellers {
  margin: 4rem;
  h2 {
    padding: 2rem 0;
    text-align: center;
  }
  .container-carousel {
    width: 100%;
    position: relative;
    button {
      position: absolute;
      top: 40%;
      color: #969696;
      padding: 0.7rem 1rem;
      &:first-child {
        left: -1.5rem;
      }
      &:last-child {
        right: -1.5rem;
      }
      &:hover {
        background-color: #71717114;
      }
    }
    .carousel {
      margin: 0;
      padding: 0;
      display: grid;
      grid-auto-flow: column;
      justify-content: space-evenly;
      grid-auto-columns: calc(((100%) / 3) - 1rem);
      gap: 1rem;
      margin-bottom: 0;
      .carousel-product {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:hover {
          figure {
            box-shadow: inset 0 0.5rem 1rem #0000003b;
            img {
              transform: scale(1.1, 1.1);
            }
          }
        }
        figure {
          border: solid 1px #00000030;
          border-radius: 0.5rem;
          width: 90%;
          height: 17rem;
          margin: 0;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 1s ease;
          }
        }
        .info-product {
          width: 90%;
          margin-top: 1rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 1rem;
          h3 {
            margin: 0;
            font-weight: 500;
          }
          p {
            margin: 0;
          }
        }
      }
    }
  }
}

.services-container {
  margin: 5rem 0;
  background-color: #a9e5bb3b;
  padding: 2rem 4rem;
  h2 {
    text-align: center;
    margin-bottom: 3rem;
  }
  .cards-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-bottom: 2rem;
    .card {
      width: calc(100% / 4 - 2rem);
      height: 20rem;
      text-align: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 0.5rem;
      opacity: 0.9;
      &:nth-child(1) {
        background-image: url("../../../../../assets/img/home-services/1.jpg");
      }
      &:nth-child(2) {
        background-image: url("../../../../../assets/img/home-services/2.jpeg");
      }
      &:nth-child(3) {
        background-image: url("../../../../../assets/img/home-services/3.jpg");
      }
      &:nth-child(4) {
        background-image: url("../../../../../assets/img/home-services/4.png");
      }
      &:hover {
        .card-shadow {
          border-radius: 0.5rem;
          background-color: #000000c2;
          color: #fff;
        }
      }
      .card-shadow {
        height: 20rem;
        padding: 2.5rem 1.5rem;
        transition: all ease 0.5s;
        color: #00000000;
      }
    }
  }
}

.regions-container {
  background-image: url("../../../../../assets/img/banner-regiones.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  display: flex;
  align-items: center;
  .regions-card {
    width: 30%;
    height: 18rem;
    transition: all 0.5s ease;
    margin-left: 4rem;
    display: flex;
    align-items: center;
    background-color: #ffffffd1;
    div {
      height: 18rem;
      padding: 3rem 4rem;
      position: relative;
      h2 {
        margin: 0;
        margin-bottom: 1.5rem;
      }
      p {
        margin: 0;
        line-height: 1.5;
      }
      button {
        position: absolute;
        bottom: 3rem;
        background-color: #e9806e;
        color: #fff;
        font-weight: 500;
        transition: all 0.3s ease;
        &:hover {
          background-color: #e46953;
        }
      }
    }
  }
}

.team-container {
  background-color: #f9c94625;
  margin: 4rem 0;
  padding: 2rem 4rem;
  h2 {
    text-align: center;
    margin-bottom: 3rem;
  }
  .team-cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .team-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: calc(100% / 5 - 2rem);
      figure {
        width: 90%;
        margin: 0;
        border-radius: 0.5rem;
        img {
          width: 100%;
          border-radius: 0.5rem;
          transition: all ease 0.5s;
        }
      }
      &:hover {
        figure {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
    button {
      width: calc(100% / 5 - 2rem);
      background-color: #e9806e;
      color: #fff;
      &:hover {
        background-color: #e46953;
      }
    }
  }
}
