<div class="hero-section-container">
  <div class="hero-section-shadow">
    <div class="hero-section-content">
      <h1>Hecho en Perú</h1>
      <p>
        Bienvenido/a a nuestra tienda de productos artesanales, donde
        encontrarás una amplia selección de creaciones únicas y auténticas.
        Explora nuestro catálogo y descubre la belleza y el encanto de las
        artesanías hechas a mano. ¡Déjate cautivar por la creatividad y el
        talento de nuestros artesanos!
      </p>
      <br />
      <button (click)="redirectTo('catalog')" mat-flat-button type="button">
        Ver catálogo
      </button>
    </div>
  </div>
</div>

<section class="container-best-sellers">
  <h2>PRODUCTOS MÁS VENDIDOS</h2>
  <div class="container-carousel">
    <button mat-icon-button (click)="previousPage()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <ul class="carousel">
      <li class="carousel-product" *ngFor="let product of products">
        <figure (click)="redirectTo('catalog/' + product.id)">
          <img
            src="{{ apiURL }}uploadsLoadImage/{{ product.image }}"
            alt="{{ product.name }}"
          />
        </figure>
        <div class="info-product">
          <h3>{{ product.name }}</h3>
          <p>s/.{{ product.price | number : "1.2-2" }}</p>
        </div>
        <p>Región: {{ product.localCraftsman.region.name }}</p>
      </li>
    </ul>
    <button mat-icon-button (click)="nextPage()">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
</section>

<section class="services-container">
  <h2>NUESTROS SERVICIOS</h2>
  <div class="cards-container">
    <div class="card">
      <div class="card-shadow">
        <h3>Catálogo de productos artesanales con filtros</h3>
        <br />
        <p>
          Proporcionamos a nuestros clientes un catálogo exhaustivo y siempre
          actualizado de productos artesanales peruanos disponibles para la
          venta, con filtros intuitivos y fáciles de usar.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-shadow">
        <div class="card-content">
          <h3>Información detallada por cada región</h3>
          <br />
          <p>
            Proporcionamos información detallada sobre cada región del Perú y
            los artesanos asociados a ella, de esta manera podrán descubrir sus
            productos emblemáticos.
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-shadow">
        <h3>Opciones de pago seguras en la compra</h3>
        <br />
        <p>
          Presentamos diferentes opciones de pago confiables, como tarjetas de
          crédito o débito, transferencias bancarias, billeteras digitales,
          entre otras.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-shadow">
        <h3>Alianzas con empresas de empaquetado</h3>
        <br />
        <p>
          Estamos afiliados a empresas de empaquetado, para asegurar que los
          productos sean empacados adecuadamente y lleguen en óptimas
          condiciones.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="regions-container">
  <div class="regions-card">
    <div>
      <h2>REGIONES</h2>
      <p>
        Explora la riqueza cultural de nuestras regiones detrás de las
        artesanías peruanas.
      </p>
      <button (click)="redirectTo('regions')" mat-flat-button type="button">
        Conocer más
      </button>
    </div>
  </div>
</section>

<section class="team-container">
  <h2>NUESTRO EQUIPO DE TRABAJO</h2>
  <div class="team-cards-container">
    <div class="team-card">
      <figure>
        <img src="../../../../../assets/img/quienes-somos/personal/g.jpg" />
      </figure>
      <p>Gwyneth Lyu Gisele Segura Silva</p>
    </div>
    <div class="team-card">
      <figure>
        <img src="../../../../../assets/img/quienes-somos/personal/j.jpg" />
      </figure>
      <p>Alvaro Alison Patricio Acuña</p>
    </div>
    <div class="team-card">
      <figure>
        <img src="../../../../../assets/img/quienes-somos/personal/d.jpg" />
      </figure>
      <p>Deyvid Joseph Guevara Cueva</p>
    </div>
    <div class="team-card">
      <figure>
        <img src="../../../../../assets/img/quienes-somos/personal/r.jpg" />
      </figure>
      <p>Raul Gonzalo Pingo Amaya</p>
    </div>
    <button (click)="redirectTo('about-us')" mat-flat-button type="button">
      Ver más
    </button>
  </div>
</section>
