<section>
    <div class="fondo-inicio-reg-img">
        <div class="inicio-fondo-region">
            <div class="container-image">
                <div data-aos="fade-up" data-aos-duration="2000">
                    <h1 class="h1-desc-reg">Cusco</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-historia">
    <div>
        <h2>HISTORIA</h2>
        <div class="bg-color">
            <p>Cusco es una ciudad ubicada en la región sur de Perú y fue la capital del Imperio Inca. Tiene una
                rica historia que se remonta a miles de años atrás. Según la leyenda, la ciudad fue fundada por
                el primer gobernante inca, Manco Cápac, quien estableció la ciudad como el centro político,
                cultural y religioso del imperio. Durante la época de los incas, Cusco fue una ciudad próspera y
                se construyeron impresionantes estructuras arquitectónicas, muchas de las cuales todavía se
                pueden ver en la ciudad hoy en día.</p>
        </div>
    </div>
</section>

<section class="container-lugares">
    <div>
        <h2>LUGARES</h2>
        <div class="bg-color">
            <p>Descubre la belleza y la historia del Cusco, Perú. Desde la enigmática ciudadela de Machu Picchu hasta la encantadora Plaza de Armas y el místico Valle Sagrado, sumérgete en la cultura inca y maravíllate con los impresionantes paisajes de esta región. ¡Explora los lugares emblemáticos y vive una experiencia inolvidable en el Cusco!</p>
        </div>
        <div class="row">
            <div class="lug col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="img-lug">
                    <img class="img-fluid" src="../../../../../../../assets/img/regions/Cusco.jpg" alt="Fotografía de la región Amazonas">
                </div>
                <div class="info-lug">
                    <h3>Machu Picchu</h3>
                    <p>Una de las maravillas del mundo y un sitio arqueológico icónico. Machu Picchu es una antigua ciudadela inca ubicada en lo alto de las montañas, rodeada de paisajes impresionantes.</p>
                </div>
            </div>
            <div class="lug col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="img-lug">
                    <img class="img-fluid" src="../../../../../../../assets/img/regions/Cusco.jpg" alt="Fotografía de la región Amazonas">
                </div>
                <div class="info-lug">
                    <h3>Plaza de Armas</h3>
                    <p>Es el corazón de Cusco y el punto de partida para explorar la ciudad. Aquí encontrarás la Catedral de Cusco y la Iglesia de la Compañía de Jesús.</p>
                </div>
            </div>
            <div class="lug col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="img-lug">
                    <img class="img-fluid" src="../../../../../../../assets/img/regions/Cusco.jpg" alt="Fotografía de la región Amazonas">
                </div>
                <div class="info-lug">
                    <h3>Sacsayhuamán</h3>
                    <p>Una fortaleza inca situada en las afueras de Cusco. Destaca por sus enormes bloques de piedra tallada y su impresionante arquitectura.</p>
                </div>
            </div>
    
            <div class="lug col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="img-lug">
                    <img class="img-fluid" src="../../../../../../../assets/img/regions/Cusco.jpg" alt="Fotografía de la región Amazonas">
                </div>
                <div class="info-lug">
                    <h3>Valle Sagrado de los Incas</h3>
                    <p>Un valle pintoresco que alberga numerosos sitios arqueológicos, pueblos tradicionales y paisajes naturales impresionantes.</p>
                </div>
            </div>
            <div class="lug col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="img-lug">
                    <img class="img-fluid" src="../../../../../../../assets/img/regions/Cusco.jpg" alt="Fotografía de la región Amazonas">
                </div>
                <div class="info-lug">
                    <h3>Qorikancha</h3>
                    <p>Un antiguo templo inca dedicado al culto del sol. Es conocido por su impresionante arquitectura y los restos de paredes incrustadas con oro.</p>
                </div>
            </div>
            <div class="lug col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="img-lug">
                    <img class="img-fluid" src="../../../../../../../assets/img/regions/Cusco.jpg" alt="Fotografía de la región Amazonas">
                </div>
                <div class="info-lug">
                    <h3>Chinchero</h3>
                    <p>Un pintoresco pueblo que destaca por su iglesia colonial y sus tejidos artesanales.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-artesanos">
    <div>
        <h2>ARTESANOS LOCALES</h2>
        <div class="bg-color">
            <p>En el Cusco, Perú, encontrarás una rica tradición artesanal que ha sido transmitida de generación en generación. Los talentosos artesanos de la región crean hermosas piezas que reflejan la historia y la cultura local. Desde tejidos coloridos y joyería elaborada hasta cerámica finamente detallada, cada artículo es una obra de arte única. Descubre la habilidad y la creatividad de los artesanos cusqueños mientras exploras su legado artesanal. ¡Déjate cautivar por la maestría y la belleza de sus creaciones hechas a mano!</p>
        </div>
        <div class="row">
            <div class="art col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="img-art">
                    <img class="img-fluid" src="./../../../../../../assets/img/regions/Cusco.jpg"
                        alt="Fotografía de la región Amazonas">
                </div>
                <div class="info-art">
                    <h3>Carlos Quispe Cárdenas</h3><small>Orfebre de Cusco</small>
                    <p>Talentoso orfebre que crea joyas únicas inspiradas en la rica historia y cultura de Cusco. Sus piezas están elaboradas a mano con metales preciosos y piedras semipreciosas, y reflejan la belleza y la esencia de la región.</p>
                </div>
            </div>
            <div class="art col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="img-art">
                    <img class="img-fluid" src="./../../../../../../assets/img/regions/Cusco.jpg"
                        alt="Fotografía de la región Amazonas">
                </div>
                <div class="info-art">
                    <h3>Rosa Gutiérrez Gómez</h3><small>Ceramista de Ollantaytambo</small>
                    <p>Destacada ceramista. Cuenta con habilidad y destreza en el modelado y decoración de la arcilla le permite crear piezas cerámicas de gran belleza. Sus obras reflejan la rica iconografía inca y los motivos de la naturaleza.</p>
                </div>
            </div>
            <div class="art col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="img-art">
                    <img class="img-fluid" src="./../../../../../../assets/img/regions/Cusco.jpg"
                        alt="Fotografía de la región Amazonas">
                </div>
                <div class="info-art">
                    <h3>Fátima Quispe Huamaní</h3><small>Maestra tejedora de Cusco</small>
                    <p>Reconocida maestra tejedora. Sus tejidos finamente elaborados y detallados reflejan la tradición textil de la región. Utiliza técnicas ancestrales y diseños autóctonos para preservar la herencia cultural a través de sus creaciones.</p>
                </div>
            </div>
            <div class="art col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="img-art">
                    <img class="img-fluid" src="./../../../../../../assets/img/regions/Cusco.jpg"
                        alt="Fotografía de la región Amazonas">
                </div>
                <div class="info-art">
                    <h3>Ángel Mamani Ccolque</h3><small>Tallador de piedra de Sacsayhuamán</small>
                    <p>Hábil tallador de piedra originario de Sacsayhuamán. Transforma la piedra en esculturas detalladas que representan la historia y la mitología andina. Sus obras son una muestra del legado ancestral de la región.</p>
                </div>
            </div>
        </div>
    </div>
</section>