<section>
    <div class="fondo-inicio-reg-img">
        <img src="http://localhost:8080/api/region/{{regionSelected?.image}}" alt="Region Image" class="background-img">
        <div class="inicio-fondo-region">
             <div data-aos="fade-up" data-aos-duration="2000">
                    <h1 class="h1-desc-reg">{{regionSelected?.name}}</h1>
             </div>
        </div>
    </div>
</section>
<section class="container-historia">
    <div>
        <h2>HISTORIA</h2>
        <div class="bg-color">
            <p>{{regionSelected?.history}}</p>
        </div>
    </div>
</section>

<section class="container-lugares">
    <div>
        <h2>LUGARES</h2>
        <div class="bg-color">
            <p>{{regionSelected?.sitesIntroduction}}</p>
        </div>
        <div class="row">
            <div class="lug col-lg-4 col-md-4 col-sm-12 col-12" *ngFor="let touristSite of touristSites" >
                <div class="img-lug">
                    <img class="img-fluid" src="http://localhost:8080/api/touristSite/{{touristSite.image}}" alt="Fotografía del lugar turistico de {{touristSite.name}}">
                </div>
                <div class="info-lug">
                    <h3>{{touristSite.name}}</h3>
                    <p>{{touristSite.description}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-local">
    <div>
        <h2>ARTESANOS LOCALES</h2>
        <div class="bg-color">
            <p>{{regionSelected?.craftsmenIntroduction}}</p>
        </div>
        <div class="row">
            <div class="art col-lg-3 col-md-3 col-sm-12 col-12" *ngFor="let localCraftsmen of localCraftsman">
                <div class="img-art">
                    <img class="img-fluid" src="http://localhost:8080/api/localCraftsmanLoadImage/{{localCraftsmen.image}}"
                        alt="Fotografía del artesano {{localCraftsmen.fullName}}">
                </div>
                <div class="info-art">
                    <h3>{{localCraftsmen.fullName}}</h3><small>{{localCraftsmen.specialty}}</small>
                    <p>{{localCraftsmen.description}}</p>
                </div>
            </div>
        </div>
    </div>
</section>