$md-gray: (
    50 : #f4f4f4,
    100 : #e4e4e4,
    200 : #d2d2d2,
    300 : #c0c0c0,
    400 : #b3b3b3,
    500 : #a5a5a5,
    600 : #9d9d9d,
    700 : #939393,
    800 : #8a8a8a,
    900 : #797979,
    A100 : #ffffff,
    A200 : #fad3d3,
    A400 : #ff9b9b,
    A700 : #ff8181,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-green: (
    50 : #f5fbef,
    100 : #e6f5d7,
    200 : #d6efbd,
    300 : #c5e8a3,
    400 : #b8e38f,
    500 : #acde7b,
    600 : #a5da73,
    700 : #9bd568,
    800 : #92d15e,
    900 : #82c84b,
    A100 : #ffffff,
    A200 : #f6fff0,
    A400 : #d9ffbd,
    A700 : #caffa3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #fff,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
