// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import "_palette.scss";

@import "primeng/resources/themes/lara-light-amber/theme.css";
@import "primeng/resources/primeng.css";

@import "toastify-js/src/toastify.css";

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Hecho-en-Peru-primary: mat.define-palette($md-gray);
$Hecho-en-Peru-accent: mat.define-palette($md-green);

// The warn palette is optional (defaults to red).
$Hecho-en-Peru-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Hecho-en-Peru-theme: mat.define-light-theme((
  color: (
    primary: $Hecho-en-Peru-primary,
    accent: $Hecho-en-Peru-accent,
    warn: $Hecho-en-Peru-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Hecho-en-Peru-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.alter-cancel-btn {
  order: -1;
  border-radius: 0.6rem !important;
  padding-top: 0.85rem;
  padding-bottom: 0.85rem;
  width: 7rem;
}

.custom-confirm-btn {
  border-radius: 0.6rem !important;
  padding-top: 0.85rem;
  padding-bottom: 0.85rem;
  width: 7rem;
}
