h3,
h4 {
  font-weight: 500;
}

mat-checkbox {
  display: block;
}

mat-expansion-panel {
  margin-bottom: 1rem;
  background-color: #f5f5f5;
}

mat-panel-title {
  font-size: 1rem;
}

mat-slider {
  width: 95%;
}

.checkboxes-container {
  height: 10rem;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0.5rem;
    background: #cfc9c9;
    border-radius: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #acde7b;
    border-radius: 0.5rem;
  }
  &::-moz-scrollbar {
    width: 0.5rem;
    background: #cfc9c9;
    border-radius: 0.5rem;
  }
  &::-moz-scrollbar-thumb {
    background-color: #acde7b;
    border-radius: 0.5rem;
  }
}

.hero-section-container {
  background-image: url("../../../../../assets/img/hero-section/catalogo-fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .hero-section-shadow {
    background-color: #000000c2;
  }
  .hero-section-content {
    padding: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    margin-bottom: 1.5rem;
    h1 {
      font-size: 3rem;
      font-weight: 300;
    }
    p {
      line-height: 2;
    }
  }
}

.catalog-container {
  padding: 3rem 4rem;
  display: flex;
  justify-content: space-between;
  .filter-form {
    width: calc(23% - 2rem);
    padding: 0 1rem;
    background-color: #f5f5f5;
    border-radius: 0.5rem;
    .filter-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      button {
        background-color: transparent;
        border: solid 1px #242423;
        transition: all ease 0.5s;
        padding: 0.5rem;
      }
    }
  }
  .products-container {
    width: calc(77% - 2rem);
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    position: relative;
    #btn-clean-filter {
      position: absolute;
      top: -3rem;
      right: 2rem;
      background-color: transparent;
      border: solid 1px #242423;
      transition: all ease 0.5s;
      flex-direction: row-reverse;
      mat-icon {
        margin: 0;
        margin-left: 0.5rem;
      }
    }
    .product-card {
      width: calc(100% / 3 - 2rem);
      height: fit-content;
      position: relative;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 0.5rem;
      box-shadow: 0rem 0rem 0.5rem 0.15rem #00000018;
      &:hover {
        figure {
          img {
            transform: scale(1.1, 1.1);
          }
        }
      }
      .rating {
        position: absolute;
        align-self: flex-start;
        top: 1.2rem;
        left: 1.4rem;
        background-color: #ffe1fdc1;
        padding: 0.2rem 0.5rem;
        border-radius: 0.5rem;
        i {
          color: #de7bd7;
        }
        .rating-value {
          font-weight: 500;
        }
      }
      figure {
        width: 90%;
        margin-top: 0.9rem;
        margin-bottom: 0;
        border-radius: 0.5rem;
        overflow: hidden;
        cursor: pointer;
        img {
          width: 100%;
          height: 12rem;
          object-fit: cover;
          transition: all 1s ease;
        }
      }
      .product-info {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        h4 {
          margin: 1rem 0;
          text-align: center;
        }
        p {
          margin-top: 0.5rem;
          margin-bottom: 1.5rem;
        }
      }
      button {
        margin-bottom: 1rem;
        background-color: #242423;
        color: #fff;
        transition: all 0.3s ease;
        &:hover {
          background-color: #0e0e0e;
        }
      }
    }

    .paginator {
      margin-top: 2rem;
      width: 100%;
      color: #969696;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      mat-form-field {
        width: 5rem;
        input {
          text-align: center;
          &[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
          }
          &[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
          }
          &[type="number"] {
            -moz-appearance: textfield;
            appearance: none;
          }
        }
      }
    }

    .no-results-container {
      margin: 5rem;
      padding: 1.25rem;
      text-align: center;
      width: 100%;
      opacity: 0.5;
      .emoji {
        font-size: 3rem;
        margin-bottom: 1.25rem;
      }
      div {
        font-size: 1.125rem;
        color: #333;
        margin: 1.2rem;
        p {
          margin: 0.3rem;
        }
      }
    }
  }
}

.container-best-sellers {
  padding: 2rem 4rem;
  background-color: #a9e5bb3b;
  margin: 4rem 0;
  h2 {
    padding: 2rem 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 500;
  }
  .container-carousel {
    width: 100%;
    position: relative;
    .btn-carusel {
      position: absolute;
      top: 40%;
      color: #969696;
      padding: 0.7rem 1rem;
      &:first-child {
        left: -1.5rem;
      }
      &:last-child {
        right: -1.5rem;
      }
      &:hover {
        background-color: #71717114;
      }
    }
    .carousel {
      margin: 0;
      padding: 0;
      padding-bottom: 2rem;
      display: grid;
      grid-auto-flow: column;
      justify-content: space-evenly;
      grid-auto-columns: calc(((100%) / 4) - 4rem);
      gap: 1rem;
      margin-bottom: 0;
      .carousel-product {
        position: relative;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 0.5rem;
        gap: 0;
        &:hover {
          figure {
            cursor: pointer;
            img {
              transform: scale(1.1, 1.1);
            }
          }
        }
        figure {
          border-radius: 0.5rem;
          width: 100%;
          height: 12rem;
          margin: 0;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 1s ease;
          }
        }
        .rating {
          position: absolute;
          align-self: flex-start;
          top: 1.2rem;
          left: 1.4rem;
          background-color: #ffe1fdc1;
          padding: 0.2rem 0.5rem;
          border-radius: 0.5rem;
          i {
            color: #de7bd7;
          }
          .rating-value {
            font-weight: 500;
          }
        }
        .info-product {
          text-align: center;
          margin: 1rem 0;
          h3 {
            margin: 0;
            font-weight: 500;
          }
          p {
            margin: 0;
            margin-top: 1rem;
          }
        }
        button {
          background-color: #242423;
          color: #fff;
          transition: all 0.3s ease;
          &:hover {
            background-color: #0e0e0e;
          }
        }
      }
    }
  }
}
