<div class="hero-section-container">
  <div class="hero-section-shadow">
    <div class="hero-section-content">
      <h1>Catálogo</h1>
      <p>
        Explora nuestro amplio catálogo de productos artesanales. Desde joyería
        exquisita y textiles hechos a mano hasta cerámica única y decoración
        para el hogar, encontrarás una variedad de opciones para todos los
        gustos. Cada artículo es creado con habilidad y amor, reflejando la rica
        herencia cultural de nuestros artesanos. Sumérgete en la belleza y
        autenticidad de las artesanías tradicionales.
      </p>
    </div>
  </div>
</div>

<!-- <pre>{{filterForm.value | json}}</pre> -->

<section class="catalog-container">
  <form [formGroup]="filterForm" class="filter-form">
    <div class="filter-header">
      <h3>Filtrar por</h3>
      <button mat-flat-button (click)="onFilterProducts()">Filtrar</button>
    </div>
    <mat-expansion-panel expanded="true" class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>Precio</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-slider
        formGroupName="price"
        discrete
        min="10"
        max="1500"
        step="10"
        color="accent"
      >
        <input formControlName="min" value="10" matSliderStartThumb />
        <input formControlName="max" value="1500" matSliderEndThumb />
      </mat-slider>
    </mat-expansion-panel>

    <mat-expansion-panel expanded="true" class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>Ordenar por</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-radio-group formControlName="order" aria-label="Select an option">
        <mat-radio-button value="PDSC"
          >Precio de mayor a menor</mat-radio-button
        >
        <mat-radio-button value="PASC"
          >Precio de menor a mayor</mat-radio-button
        >
        <mat-radio-button value="RDSC">Mejor calificados</mat-radio-button>
      </mat-radio-group>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>Categorías</mat-panel-title>
      </mat-expansion-panel-header>

      <div formArrayName="categories" class="checkboxes-container">
        <mat-checkbox
          *ngFor="let category of categories; let i = index"
          [value]="category.id"
          [formControlName]="i"
          >{{ category.name }}</mat-checkbox
        >
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>Regiones</mat-panel-title>
      </mat-expansion-panel-header>

      <div formArrayName="regions" class="checkboxes-container">
        <mat-checkbox
          *ngFor="let region of regions; let i = index"
          [value]="region.id"
          [formControlName]="i"
          >{{ region.name }}</mat-checkbox
        >
      </div>
    </mat-expansion-panel>
  </form>

  <div class="products-container">
    <button
      mat-flat-button
      id="btn-clean-filter"
      *ngIf="filterActive"
      (click)="cleanFilters()"
    >
      Limpiar filtros<mat-icon>close</mat-icon>
    </button>
    <div *ngFor="let product of productsByPage" class="product-card">
      <figure (click)="redirectTo(product.id)">
        <img
          src="http://localhost:8080/api/uploadsLoadImage/{{ product.image }}"
          alt="poncho"
        />
      </figure>

      <div class="rating">
        <i class="fa-solid fa-star"></i>
        <span class="rating-value">{{
          product.averageRating | number : "1.1-1"
        }}</span>
      </div>

      <div class="product-info">
        <h4>{{ product.name }}</h4>
        <p>s/.{{ product.price | number : "1.2-2" }}</p>
      </div>
      <button mat-flat-button class="add-cart" type="button" (click)="onAddProduct(product)">Añadir al carrito</button>
    </div>
    <div class="paginator" *ngIf="filterProducts.length">
      <button (click)="previousPage()" mat-icon-button type="button">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <mat-form-field>
        <input
          [(ngModel)]="inputPageNumber"
          (change)="changeInputPage()"
          matInput
          type="number"
          value="1"
          min="1"
        />
      </mat-form-field>
      <button (click)="nextPage()" mat-icon-button type="button">
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>
    <div class="no-results-container" *ngIf="!filterProducts.length">
      <i class="fa-solid fa-face-sad-cry fa-3x"></i>
      <div>
        <p>No se encontraron resultados</p>
        <p> para su búsqueda</p>
      </div>
    </div>
  </div>
</section>

<section class="container-best-sellers">
  <h2>PRODUCTOS QUE PODRÍAN INTERESARTE</h2>
  <div class="container-carousel">
    <button class="btn-carusel" mat-icon-button (click)="previousBestSellersPage()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <ul class="carousel">
      
      <li class="carousel-product" *ngFor="let product of bestSellers">
        <figure (click)="redirectTo(product.id)">
          <img
            src="http://localhost:8080/api/uploadsLoadImage/{{product.image}}"
            alt="{{product.name}}"
          />
        </figure>
        <div class="rating">
          <i class="fa-solid fa-star"></i>
          <span class="rating-value">{{
            product.averageRating | number : "1.1-1"
          }}</span>
        </div>
        <div class="info-product">
          <h3>{{product.name}}</h3>
          <p>s/.{{product.price | number: '1.2-2'}}</p>
        </div>
        <button mat-flat-button class="add-cart" type="button" (click)="onAddProduct(product)">Añadir al carrito</button>
      </li>
    </ul>
    <button class="btn-carusel" mat-icon-button (click)="nextBestSellersPage()">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
</section>
