<div class="hero-section-container">
  <div class="hero-section-shadow">
    <div class="hero-section-content">
      <h1>Catálogo</h1>
      <p>
        Explora nuestro amplio catálogo de productos artesanales. Desde joyería
        exquisita y textiles hechos a mano hasta cerámica única y decoración
        para el hogar, encontrarás una variedad de opciones para todos los
        gustos. Cada artículo es creado con habilidad y amor, reflejando la rica
        herencia cultural de nuestros artesanos. Sumérgete en la belleza y
        autenticidad de las artesanías tradicionales.
      </p>
    </div>
  </div>
</div>

<section class="catalog-container">
  <div class="filter-container">
    <h3>Filtrar por</h3>
    <mat-expansion-panel expanded="true" class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>Precio</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-slider discrete min="10" max="1500" step="10" color="accent">
        <input value="10" matSliderStartThumb />
        <input value="1500" matSliderEndThumb />
      </mat-slider>
    </mat-expansion-panel>

    <mat-expansion-panel expanded="true" class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>Ordenar por</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="PDSC"
          >Precio de mayor a menor</mat-radio-button
        >
        <mat-radio-button value="PASC"
          >Precio de menor a mayor</mat-radio-button
        >
        <mat-radio-button value="RDSC">Mejor calificados</mat-radio-button>
      </mat-radio-group>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>Categorías</mat-panel-title>
      </mat-expansion-panel-header>

      <div class="checkboxes-container">
        <mat-checkbox value="1">Accesorios</mat-checkbox>
        <mat-checkbox value="2">Muebles</mat-checkbox>
        <mat-checkbox value="">Disabled</mat-checkbox>
        <mat-checkbox value="">Disabled</mat-checkbox>
        <mat-checkbox value="">Disabled</mat-checkbox>
        <mat-checkbox value="">Disabled</mat-checkbox>
        <mat-checkbox value="">Disabled</mat-checkbox>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>Regiones</mat-panel-title>
      </mat-expansion-panel-header>

      <div class="checkboxes-container">
        <mat-checkbox value="1">Amazonas</mat-checkbox>
        <mat-checkbox value="2">Áncash</mat-checkbox>
        <mat-checkbox value="">Disabled</mat-checkbox>
        <mat-checkbox value="">Disabled</mat-checkbox>
        <mat-checkbox value="">Disabled</mat-checkbox>
        <mat-checkbox value="">Disabled</mat-checkbox>
        <mat-checkbox value="">Disabled</mat-checkbox>
      </div>
    </mat-expansion-panel>
  </div>

  <div class="products-container">
    <div *ngFor="let product of products" class="product-card">
      <figure>
        <img
          src="http://localhost:8080/api/uploadsLoadImage/{{product.image}}"
          alt="poncho"
        />
      </figure>

      <div class="rating">
        <i class="fa-solid fa-star"></i>
        <span class="rating-value">{{product.averageRating}}</span>
      </div>

      <div class="product-info">
        <h4>{{product.name}}</h4>
        <p>s/.{{product.price | number: '1.2-2'}}</p>
      </div>
      <button mat-flat-button class="add-cart">Añadir al carrito</button>
    </div>
    <div class="paginator">
      <button mat-icon-button type="button">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <mat-form-field>
        <input matInput type="number" value="1" min="1">
      </mat-form-field>
      <button mat-icon-button type="button">
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>
  </div>
</section>
