<div class="hero-section-container">
  <div class="hero-section-shadow">
    <div class="hero-section-content">
      <h1>Quiénes somos</h1>
      <p>
        En Hecho en Perú, nos apasiona promover y preservar las tradiciones
        artesanales. Nos enorgullece trabajar con artesanos talentosos de
        diferentes regiones, fomentando su creatividad y brindándoles una
        plataforma para exhibir sus creaciones. Descubre nuestra historia,
        conoce al equipo detrás de nuestra empresa y únete a nosotros en nuestro
        viaje de apreciación de la artesanía.
      </p>
    </div>
  </div>
</div>

<section>
  <h2>DESCRIPCIÓN</h2>
  <div class="text-container">
    <p>
      En nuestra empresa, nos dedicamos a ofrecer soluciones innovadoras en el
      campo de la tecnología y la información. A través de nuestra experiencia
      en Ingeniería de Sistemas de Información, nos esforzamos por brindar
      servicios de calidad que ayuden a nuestros clientes a optimizar sus
      procesos, tomar decisiones informadas y alcanzar sus objetivos
      empresariales. Nuestro enfoque se basa en la integración de tecnologías de
      vanguardia y el desarrollo de sistemas eficientes y seguros.
    </p>
  </div>
</section>

<section class="mision-vision-container">
  <div class="mision-vision-card">
    <h2>MISIÓN</h2>
    <div class="text-container">
      <p>
        Nuestra misión es promover la cultura peruana y el turismo al interior
        del país, mediante la venta de productos artesanales en la página web.
        Además, el usuario podrá acceder a la descripción de los materiales
        usados para cada producto, la historia del artesano y el significado de
        cada diseño. De este modo, se podrá conocer el esfuerzo y la dedicación
        que emplean en fabricar cada producto regional.
      </p>
    </div>
    <img src="../../../../../assets/img/quienes-somos/mision.jpg" />
  </div>
  <div class="mision-vision-card">
    <h2>VISIÓN</h2>
    <div class="text-container">
      <p>
        Nuestra visión es convertirnos en líderes reconocidos en el ámbito de la
        tecnología y la información, proporcionando soluciones de vanguardia que
        impulsen el crecimiento y la transformación digital de nuestros
        clientes. Buscamos ser referentes en la implementación de sistemas
        inteligentes, el análisis de datos y la gestión de información,
        ofreciendo servicios confiables y de alto valor agregado.
      </p>
    </div>
    <div class="img-m-v">
      <img src="../../../../../assets/img/quienes-somos/vision.jpg" />
    </div>
  </div>
</section>

<section class="team-container">
  <h2>NUESTRO EQUIPO DE TRABAJO</h2>
  <div class="team-cards-container">
    <div class="team-card">
      <figure>
        <img src="../../../../../assets/img/quienes-somos/personal/g.jpg" />
      </figure>
      <h4>Gwyneth Lyu Gisele Segura Silva</h4>
      <p>
        Estudiante proactiva de Ingeniería de Sistemas de Información con
        habilidades sólidas en el desarrollo web y gestión de proyectos.
        Orientado a resultados, busca aplicar sus conocimientos en el diseño y
        desarrollo de aplicaciones web innovadoras que impulsen el crecimiento
        empresarial.
      </p>
    </div>
    <div class="team-card">
      <figure>
        <img src="../../../../../assets/img/quienes-somos/personal/j.jpg" />
      </figure>
      <h4>Alvaro Alison Patricio Acuña</h4>
      <p>
        Estudiante apasionado de la carrera de Ingeniería de Sistemas de
        Información con habilidades destacadas en el análisis de datos,
        programación y desarrollo de software. Comprometido con la innovación
        tecnológica y la mejora de procesos empresariales a través de soluciones
        informáticas eficientes.
      </p>
    </div>
    <div class="team-card">
      <figure>
        <img src="../../../../../assets/img/quienes-somos/personal/d.jpg" />
      </figure>
      <h4>Deyvid Joseph Guevara Cueva</h4>
      <p>
        Estudiante de Ingeniería de Sistemas de Información con enfoque en la
        seguridad. Apasionado por la protección de datos y la prevención de
        ciberataques, busca aplicar sus conocimientos en el diseño de sistemas
        seguros y la seguridad robustas.
      </p>
    </div>
    <div class="team-card">
      <figure>
        <img src="../../../../../assets/img/quienes-somos/personal/r.jpg" />
      </figure>
      <h4>Raul Gonzalo Pingo Amaya</h4>
      <p>
        Estudiante entusiasta de Ingeniería de Sistemas de Información con
        experiencia en el análisis de datos. Apasionado por convertir grandes
        volúmenes de información en conocimientos accionables, busca desarrollar
        soluciones de análisis y visualización que impulsen la toma de
        decisiones informada.
      </p>
    </div>
    <div class="team-card">
      <figure>
        <img src="../../../../../assets/img/quienes-somos/personal/a.jpg" />
      </figure>
      <h4>Alexandra Dayanna Ramirez Diaz</h4>
      <p>
        Estudiante creativa de Ingeniería de Sistemas de Información con amplios
        conocimientos en diseño de interfaces y experiencia de usuario.
        Apasionado por la usabilidad y la interacción humano-computadora, busca
        desarrollar soluciones intuitivas y atractivas.
      </p>
    </div>
  </div>
</section>