.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  .error-card {
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    width: 70%;
    // color: ##E3A84F;
    //color: ##FDF9FA;
    h1 {
      color: #ca5400;
      font-weight: 900;
      font-size: 5rem;
      margin: 0;
      margin-bottom: 1.5rem;
      padding: 1rem 0;
    }
    img{
      width: 18rem;
      height: auto;
    }
    p {
      font-size: 1.3rem;
      color: #999;
    }
    button{
      background-color: #242423;
      color: #fff;
      padding: 1.5rem 2rem;
      font-size: 1rem;
      margin-top: 1rem;
    }
  }
}
