<div
  class="div-add-container grid formgrid flex justify-content-center align-items-top"
>
  <div class="col-2"></div>
  <div class="col-7 centered-header">
    <span>CLIENTES</span>
  </div>
  <div class="col-3 search-bar">
    <form
      [formGroup]="customerSearchForm"
      class="customer-form-search flex justify-content-between"
    >
      <mat-form-field class="field">
        <input
          formControlName="id"
          matInput
          placeholder="Ingrese el ID"
        />
      </mat-form-field>
      <button
        mat-flat-button
        type="button"
        class="btn-search-icon"
        (click)="onSearch(customerSearchForm.value.id)"
      >
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
      <button
        mat-flat-button
        type="button"
        class="btn-clean-icon"
        (click)="onClean()"
      >
        <i class="fa-solid fa-broom"></i>
      </button>
    </form>
  </div>
  <app-customer-table
    class="w-full"
    [dataSource]="customers"
  ></app-customer-table>
</div>
<div class="no-results-container" *ngIf="!customers.data.length && searchAttempted">
  <i class="fa-solid fa-face-sad-cry fa-3x"></i>
  <div>
    <p>No se encontraron resultados</p>
    <p> para su búsqueda</p>
  </div>
</div>
