<div
  class="div-add-container grid formgrid flex justify-content-center align-items-top"
>
  <div class="col-4"></div>
  <div class="col-4 centered-header">
    <span>CLIENTES</span>
  </div>
  <div class="col-4 search-bar">
    <form
      [formGroup]="customerSearchForm"
      class="customer-form-search"
    >
      <mat-form-field class="field">
        <input
          formControlName="id"
          matInput
          placeholder="Ingrese el ID"
        />
      </mat-form-field>
      <button
        mat-flat-button
        type="submit"
        class="btn-search-icon"
        (click)="onSearch()"
      >
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
      <button
        mat-flat-button
        type="button"
        class="btn-clean-icon"
        (click)="onClean()"
      >
        <i class="fa-solid fa-x"></i>
      </button>
    </form>
  </div>
  <app-customer-table
    class="w-full"
    [dataSource]="dataSource"
  ></app-customer-table>
</div>
<div class="no-results-container" *ngIf="searchAttempted">
  <i class="fa-solid fa-face-sad-cry fa-3x"></i>
  <div>
    <p>No se encontraron resultados</p>
    <p>para su búsqueda</p>
  </div>
</div>
